<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rx.diabeticlife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiabeticLife">
        <activity
            android:name=".patient.activity.ChooseTrainerActivity"
            android:exported="false" />
        <activity
            android:name=".trainer.activity.MainTrainerActivity"
            android:exported="false" />
        <activity
            android:name=".trainer.activity.TrainerCompleteDataActivity"
            android:exported="false" />
        <activity
            android:name=".patient.activity.ResultsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.activity.DoctorResultActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.activity.RequestDetailsDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".patient.activity.RequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".patient.activity.SendRequestActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.activity.MainDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.activity.DoctorCompleteDataActivity"
            android:exported="false" />
        <activity
            android:name=".patient.activity.PatientCompleteDataActivity"
            android:exported="false" />
        <activity
            android:name=".trainer.activity.Otp3Activity"
            android:exported="false" />
        <activity
            android:name=".doctor.activity.Otp2Activity"
            android:exported="false" />
        <activity
            android:name=".patient.activity.MainPatientActivity"
            android:exported="false" />
        <activity
            android:name=".patient.activity.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".trainer.activity.Login3Activity"
            android:exported="false" />
        <activity
            android:name=".doctor.activity.Login2Activity"
            android:exported="false" />
        <activity
            android:name=".patient.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoActionBarSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>